# Ultima revisão: 03/07/2023

pip==23.3.2

# Interface
streamlit==1.29.0
streamlit-authenticator==0.2.3
streamlit_option_menu==0.3.6
extra-streamlit-components==0.1.60

# Gerais
pandas==2.1.4
#pandasai==0.6.7 -> minha conta não tem créditos
numpy==1.26.3

# Datas
pandas_market_calendars==4.3.1
workalendar==17.0.0

# Fontes de dados
yfinance==0.2.33
python-bcb==0.2.0
sidrapy==0.1.4
fundamentus==0.2.0
quantstats==0.0.62
IPython==8.19.0

# Gráficos
matplotlib==3.8.2
seaborn==0.13.1
plotly==5.18.0
imgkit==1.2.3

# Banco de dados
pymongo==4.6.1

# IA
# flair==0.12.2
# gdown==4.4.0
# mpld3==0.3
# tensorflow==2.13.0
# Não sei bem...
#jinja2==3.1.2
selenium==4.16.0
kaleido
#webdriver-manager
#holidays
#scipy
#backtrader
#backtrader_plotting
#tabulate==0.9.0
#prettyprint
#vectorbt==0.25.4
#ta
#pandas_ta


